html{
  font-size:62.5%
  }
body{
    font-size:1.8rem;
    max-width:38em;
    margin:auto;
    color:#fffaf0;
    background-color:#000
    }
@media (max-width:684px){
  body{
    font-size:1.53rem
    }
    }
@media (max-width:382px){
  body{
    font-size:1.35rem
    }
    }
h1{
  color:#f0f;
  font-size:2.35em
  }
h2{
  color:#c71585;
  font-size:2em
  }
h3{
  color:grey;
  font-size:1.75em
  }
h4{
  font-style:italic;
  font-size:1.5em
  }
  ol{
    margin-left:70px
    }
a{
      text-decoration:none;
      color:#f0f
      }
a:hover{
  color:pink;
  border-bottom:2px solid
  }
  .contact{
    text-align:right
  }